<!DOCTYPE html>
<html lang="ru">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма пользователей</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Форма ввода пользователя</h1>
    <form action="/submit" method="POST" class="mb-5">
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <h2>Список пользователей</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Имя пользователя</th>
        </tr>
        </thead>
        <tbody>
        <% users.forEach(function(user) { %>
            <tr><td><%= user %></td></tr>
            <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>